<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjq.mapper.UserMapper">
	<resultMap type="com.gjq.pojo.User" id="user"/>
	<parameterMap id="user" type="com.gjq.pojo.User"></parameterMap>
	<select id="getUserList" resultMap="user">
	select * from user
	</select>
</mapper>